<div class="col-sm-3">
  <nav class="menu docs-menu">
    <a class="menu-item {% if page.title == "그리드" %}selected{% endif %}" href="{{ site.baseurl }}/grid/">
      그리드 
    </a>
    <a class="menu-item {% if page.title == "글꼴" %}selected{% endif %}" href="{{ site.baseurl }}/typography/">
      글꼴
    </a>
    <a class="menu-item {% if page.title == "색상" %}selected{% endif %}" href="{{ site.baseurl }}/colors/">
      색상
    </a>
    <a class="menu-item {% if page.title == "버튼" %}selected{% endif %}" href="{{ site.baseurl }}/buttons/">
      버튼
    </a>
    
  </nav>
</div>