---
layout: default
---
<section class="{{ page.url | remove: "/" }}">
<div class="container" style="margin-top:40px">
	<div class="row">
			
			{% if page.title == "시작하기" %}

				<div class="col-sm-12">
				<article class="post">

				  <div class="post-header markdown-body">
				    <h1 class="post-title">{{ page.title }}</h1>
				  </div>

				  <div class="markdown-body">
						{{ content }}
				  </div>

				</article>
			</div>
			
			{% endif %}


			{% unless page.title == "시작하기" %}

				{% include sidenav.html %}

				<div class="col-sm-9">
					<article class="post">

					  <div class="post-header markdown-body">
					    <h1 class="post-title">{{ page.title }}</h1>
					  </div>

					  <div class="markdown-body">
							{{ content }}
					  </div>

					</article>
				</div>
			

			{% endunless %}

	</div>
</div>
</section>